@page "/master/KalenderPendidikan"
@layout MainLayoutPJKBM
@inject IJSRuntime jsRuntime
@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject NavigationManager NavMgr
@*@namespace MoslemToolkit.Pages.Master*@
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.IO
<h1>Kalender Pendidikan</h1>

<p>Gunakan halaman ini untuk menyimpan Kalender Pendidikan</p>

@if (DataKalenderPendidikan == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <div class="table-responsive">
            <table id="gridData" name="gridData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tanggal Mulai</th>
                        <th>Tanggal Selesai</th>
                        <th>Kegiatan</th>
                        <th>Keterangan</th>

                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in DataKalenderPendidikan)
                    {
                    <tr>
                        <td>@item.TanggalMulai.ToString("MM-dd-yyyy")</td>
                        <td>@item.TanggalSelesai.ToString("MM-dd-yyyy")</td>
                        <td>@item.Kegiatan</td>
                        <td>@item.Keterangan</td>

                        <td>
                                @if (HasLogin)
                                {
                                    <input type="button" class="btn btn-primary btn-sm mt-1" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                                    <input type="button" class="btn btn-danger btn-sm mt-1" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />
                                }else{
                                    <p>-</p>
                                }

                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}
@if (HasLogin)
{
    <div>
        <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Tambah KalenderPendidikan" @onclick="(() => InitializeitemObject())" />
    </div>
}
<ConfirmDialog OnClick="@Delete" />
<KalenderPendidikanDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</KalenderPendidikanDetail>

@code {
    bool HasLogin;
    KalenderPendidikanDetail detail;
    MoslemToolkit.Data.KalenderPendidikanService service;
    string customHeader = string.Empty;
    List<KalenderPendidikan> DataKalenderPendidikan;
    KalenderPendidikan itemObject = new KalenderPendidikan();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;


    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new KalenderPendidikanService();

        DataKalenderPendidikan = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DataKalenderPendidikan != null && DataKalenderPendidikan.Count > 0)
        {

            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
        if (firstRender)
        {
            if (string.IsNullOrEmpty(UserName))
            {
                try
                {
                    UserName = await localStorage.GetItemAsync<string>(AppConstants.NameKey);

                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex);
                }
                if (string.IsNullOrEmpty(UserName))
                {
                    NavMgr.NavigateTo($"/login");
                }
                else {
                        HasLogin = RoleInfo.HasRole(UserName, Roles.Pengurus) || RoleInfo.HasRole(UserName, Roles.PJKBM);
                        if (HasLogin)
                        StateHasChanged();
                    }
            }
        }
    }

    private void InitializeitemObject()
    {

        itemObject = new KalenderPendidikan();
        var today = DateHelper.GetLocalTimeNow();
        itemObject.TanggalMulai = new DateTime(today.Year, today.Month, today.Day);
        itemObject.TanggalSelesai = new DateTime(today.Year, today.Month, today.Day);

        //itemObject.Id = -1;

        customHeader = "Tambah Kegiatan";
    }
    private async void DataChanged()
    {
        DataKalenderPendidikan = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(KalenderPendidikan item)
    {
        customHeader = "Ubah Kegiatan";
        itemObject = item;

    }
    private void PrepareForDelete(KalenderPendidikan item)
    {
        itemObject = item;
    }
    private void ClearChat(KalenderPendidikan item)
    {
        ChatMessageService svc = new ChatMessageService();
        if (item != null)
        {
            svc.ClearChat(item.Id);
        }
    }
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataKalenderPendidikan = service.GetAllData();
        itemObject = new KalenderPendidikan() { Id = -1 };
    }

    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }

}
