@page "/master/KPIBatch"

@inject IJSRuntime jsRuntime
@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject NavigationManager NavMgr
@*@namespace MoslemToolkit.Pages.Master*@
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.IO
<h1>Daftar KPI Batch No.</h1>

<p>Gunakan halaman ini untuk mengatur KPI Batch No.</p>

@if (DataKPIBatch == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <div class="table-responsive">
            <table id="gridData" name="gridData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Batch No</th>
                        <th>Keterangan</th>
                        <th>Periode</th>
                       

                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in DataKPIBatch)
                    {
                    <tr>
                        <td>@item.Tanggal?.ToString("dd/MM/yyyy")</td>
                        <td>@item.BatchNo</td>
                        <td>@item.Keterangan</td>
                        <td>@item.PeriodePenilaian.ToString()</td>



                        <td>

                            <input type="button" class="btn btn-primary btn-sm mt-1" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                            <input type="button" class="btn btn-danger btn-sm mt-1" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />


                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}
<div>
    <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Tambah KPI Batch No." @onclick="(() => InitializeitemObject())" />
</div>
<ConfirmDialog OnClick="@Delete" />
<KPIBatchDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</KPIBatchDetail>

@code {
    KPIBatchDetail detail;
    MoslemToolkit.Data.KPIBatchService service;
    string customHeader = string.Empty;
    List<KPIBatch> DataKPIBatch;
    KPIBatch itemObject = new KPIBatch();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;


    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new KPIBatchService();

        DataKPIBatch = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DataKPIBatch != null && DataKPIBatch.Count > 0)
        {

            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
        if (firstRender)
        {
            if (string.IsNullOrEmpty(UserName))
            {
                try
                {
                    UserName = await localStorage.GetItemAsync<string>(AppConstants.NameKey);

                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex);
                }
                if (string.IsNullOrEmpty(UserName))
                {
                    NavMgr.NavigateTo($"/auth/login");
                }
                else
                {

                }
            }
        }
    }

    private void InitializeitemObject()
    {

        itemObject = new KPIBatch();
        itemObject.BatchNo = service.GetLastId() + 1;


        //itemObject.Id = -1;

        customHeader = "Tambah Batch No";
    }
    private async void DataChanged()
    {
        DataKPIBatch = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(KPIBatch item)
    {
        customHeader = "Ubah Batch No";
        itemObject = item;

    }
    private void PrepareForDelete(KPIBatch item)
    {
        itemObject = item;
    }
    
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.BatchNo);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataKPIBatch = service.GetAllData();
        itemObject = new KPIBatch() { BatchNo = -1 };
    }

    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }

}
