@page "/master/pengurus"

@inject IJSRuntime jsRuntime
@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject NavigationManager NavMgr
@*@namespace MoslemToolkit.Pages.Master*@
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.IO
<h1>Daftar Pengurus DKM</h1>

<p>Gunakan halaman ini untuk mengatur pengurus DKM.</p>

@if (DataDapukan == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <div class="table-responsive">
            <table id="gridData" name="gridData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Urutan</th>
                        <th>Nama</th>


                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in DataDapukan)
                    {
                    <tr>
                        <td>@item.OrderNo</td>
                        <td>@item.Nama</td>



                        <td>

                            <input type="button" class="btn btn-primary" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                            <input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />


                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}
<div>
    <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Tambah Pengurus" @onclick="(() => InitializeitemObject())" />
</div>
<ConfirmDialog OnClick="@Delete" />
<DapukanDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</DapukanDetail>

@code {
    DapukanDetail detail;
    MoslemToolkit.Data.DapukanService service;
    string customHeader = string.Empty;
    List<Dapukan> DataDapukan;
    Dapukan itemObject = new Dapukan();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;


    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new DapukanService();

        DataDapukan = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DataDapukan != null && DataDapukan.Count > 0)
        {

            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
        if (firstRender)
        {
            if (string.IsNullOrEmpty(UserName))
            {
                try
                {
                    UserName = await localStorage.GetItemAsync<string>(AppConstants.NameKey);

                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex);
                }
                if (string.IsNullOrEmpty(UserName))
                {
                    NavMgr.NavigateTo($"/auth/login");
                }
                else
                {

                }
            }
        }
    }

    private void InitializeitemObject()
    {

        itemObject = new Dapukan();
        itemObject.OrderNo = service.GetAllData().Count()+1;
   


        //itemObject.Id = -1;

        customHeader = "Tambah Jabatan Pengurus";
    }
    private async void DataChanged()
    {
        DataDapukan = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(Dapukan item)
    {
        customHeader = "Ubah Jabatan Pengurus";
        itemObject = item;

    }
    private void PrepareForDelete(Dapukan item)
    {
        itemObject = item;
    }
    private void ClearChat(Dapukan item)
    {
        ChatMessageService svc = new ChatMessageService();
        if (item != null)
        {
            svc.ClearChat(item.Id);
        }
    }
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataDapukan = service.GetAllData();
        itemObject = new Dapukan() { Id = -1 };
    }

    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }

}
