@page "/master/Musyawarah"

@inject IJSRuntime jsRuntime
@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject NavigationManager NavMgr
@*@namespace MoslemToolkit.Pages.Master*@
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage


@using System.IO
<h1>Hasil Musyawarah Kelompok</h1>

<p>Gunakan halaman ini untuk menyimpan hasil musyawarah kelompok.</p>

@if (DataMusyawarah == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <div class="table-responsive">
            <table id="gridData" name="gridData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tanggal</th>

                        <th>Topik</th>
                        <th>Keterangan</th>
                     
                        <th>Dibuat Oleh</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in DataMusyawarah)
                    {
                        <tr>
                            <td>@item.Tanggal.ToString("dd/MMM/yyyy HH:mm")</td>
                            <td>@item.Topik</td>
                            <td>@item.Keterangan</td>
                            <td>@item.CreatedBy</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.DocumentUrl))
                                {
                                    <a class="btn btn-primary" href="@item.DocumentUrl">Lihat</a>
                                }
                                @if (HasLogin)
                                {
                                    <input type="button" class="btn btn-primary" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                                    <input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}
@if (HasLogin)
{
    <div>
        <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Tambah Musyawarah" @onclick="(() => InitializeitemObject())" />
    </div>
}
<ConfirmDialog OnClick="@Delete" />
<MusyawarahDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</MusyawarahDetail>

@code {
    bool HasLogin = false;
    MusyawarahDetail detail;
    MoslemToolkit.Data.MusyawarahService service;
    string customHeader = string.Empty;
    List<Musyawarah> DataMusyawarah;
    Musyawarah itemObject = new Musyawarah();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
   
    async Task DownloadFile(string Url)
    {
        if (!string.IsNullOrEmpty(Url))
        {
            NavMgr.NavigateTo(Url, true);
        }
        else
        {
            toastService.ShowError("Url kosong atau tidak valid.");
        }
        /*
        if (!string.IsNullOrEmpty(Url))
        {
            HttpClient client = new HttpClient();
            var res = await client.GetAsync(Url);
            var Fname = Path.GetFileName(Url);
            if (res.IsSuccessStatusCode)
            {
                var bytes = await res.Content.ReadAsByteArrayAsync();
                await FileUtil.SaveAs(jsRuntime, Fname, bytes);
            }

        }
        else
        {
            toastService.ShowError("Gagal mendownload file, terjadi kesalahan.");
        */
    }
    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new MusyawarahService();

        DataMusyawarah = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DataMusyawarah != null && DataMusyawarah.Count > 0)
        {

            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
        if (firstRender)
        {
            if (string.IsNullOrEmpty(UserName))
            {
                try
                {
                    UserName = await localStorage.GetItemAsync<string>(AppConstants.NameKey);

                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex);
                }
                if (string.IsNullOrEmpty(UserName))
                {
                    NavMgr.NavigateTo($"/login");
                }
                else if (!string.IsNullOrEmpty(UserName) && UserName == AppConstants.USER_ADMIN)
                {
                    HasLogin = true;
                    StateHasChanged();
                }
            }
        }
    }

    private void InitializeitemObject()
    {

        itemObject = new Musyawarah();
        itemObject.CreatedBy = UserName;
        itemObject.Tanggal = DateHelper.GetLocalTimeNow();

        //detail.DocumentUrl = "";

        //itemObject.Id = -1;

        customHeader = "Tambah Hasil Musyawarah";
    }
    private async void DataChanged()
    {
        DataMusyawarah = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(Musyawarah item)
    {
        customHeader = "Ubah Hasil Musyawarah";
        itemObject = item;
        //detail.DocumentUrl = item.DocumentUrl;
    }
    private void PrepareForDelete(Musyawarah item)
    {
        itemObject = item;
    }
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataMusyawarah = service.GetAllData();
        itemObject = new Musyawarah() { Id = -1 };
    }

    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }

}
