@page "/master/nasehat"

@inject IJSRuntime jsRuntime
@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject NavigationManager NavMgr
@*@namespace MoslemToolkit.Pages.Master*@
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.IO
<h1>Daftar Penasehat</h1>

<p>Gunakan halaman ini untuk menyimpan daftar penasehat.</p>

@if (DataNasehat == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <div class="table-responsive">
            <table id="gridData" name="gridData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Topik</th>
                        <th>Penasehat 1</th>
                        <th>Penasehat 2</th>

                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in DataNasehat)
                    {
                    <tr>
                        <td>@item.Tanggal.ToString("yyyy-MM-dd")</td>
                        <td>@item.Topik</td>
                        <td>@item.Penasehat1</td>
                        <td>@item.Penasehat2</td>

                        <td>

                            <input type="button" class="btn btn-primary" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                            <input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />


                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}
<div>
    <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Tambah Nasehat" @onclick="(() => InitializeitemObject())" />
</div>
<ConfirmDialog OnClick="@Delete" />
<NasehatDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</NasehatDetail>

@code {
    NasehatDetail detail;
    MoslemToolkit.Data.NasehatService service;
    string customHeader = string.Empty;
    List<Nasehat> DataNasehat;
    Nasehat itemObject = new Nasehat();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;


    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new NasehatService();

        DataNasehat = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DataNasehat != null && DataNasehat.Count > 0)
        {

            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
        if (firstRender)
        {
            if (string.IsNullOrEmpty(UserName))
            {
                try
                {
                    UserName = await localStorage.GetItemAsync<string>(AppConstants.NameKey);

                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex);
                }
                if (string.IsNullOrEmpty(UserName))
                {
                    NavMgr.NavigateTo($"/login");
                }
                else
                {

                }
            }
        }
    }

    private void InitializeitemObject()
    {

        itemObject = new Nasehat();
        itemObject.Topik = "5 Bab";
        itemObject.Tanggal = DateHelper.GetLocalTimeNow();



        //itemObject.Id = -1;

        customHeader = "Tambah Nasehat";
    }
    private async void DataChanged()
    {
        DataNasehat = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(Nasehat item)
    {
        customHeader = "Ubah Nasehat";
        itemObject = item;

    }
    private void PrepareForDelete(Nasehat item)
    {
        itemObject = item;
    }
    private void ClearChat(Nasehat item)
    {
        ChatMessageService svc = new ChatMessageService();
        if (item != null)
        {
            svc.ClearChat(item.Id);
        }
    }
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataNasehat = service.GetAllData();
        itemObject = new Nasehat() { Id = -1 };
    }

    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }

}
