@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject IJSRuntime jsRuntime
@*@namespace MoslemToolkit.Pages.Master*@
@using System.IO
@inject IToastService toastService
@inject AzureBlobHelper blob;

<div class="modal" tabindex="-1" role="dialog" id="taskModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CustomHeader</h5>

                @*
                        public string Tujuan { get; set; }
        public string Keterangan { get; set; }
        public string NamaPengirim { get; set; }
        public string NoRekening { get; set; }
        public string NamaRekening { get; set; }
        public string NamaBank { get; set; }
        public string NomorHp { get; set; }
        public string LampiranUrl { get; set; }
                *@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="tanggal">Tanggal Pengiriman</label>
                        <InputDate id="tanggal" class="form-control" @bind-Value="@TaskObject.Tanggal" />
                        <ValidationMessage For="@(() => TaskObject.Tanggal)" />
                    </div>
                    <div class="form-group">
                        <label for="tujuan">Keperluan/Tujuan</label>
                        <select @bind="@TaskObject.Tujuan" id="tujuan">
                            <option value="-">Pilih</option>

                            <option value="Sodakoh Lemparan">Sodakoh Lemparan</option>
                            <option value="Isrun">Isrun</option>
                            <option value="Pembangunan">Pembangunan</option>
                            <option value="Qurban">Qurban</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                        <ValidationMessage For="@(() => TaskObject.Tujuan)" />
                    </div>
                    <div class="form-group">
                        <label for="nama-pengirim">Nama Pengirim</label>
                        <input type="hidden" @bind-value="@TaskObject.Id" />
                        <InputText id="nama-pengirim" class="form-control" @bind-Value="@TaskObject.NamaPengirim" />
                        <ValidationMessage For="@(() => TaskObject.NamaPengirim)" />
                    </div>
                    <div class="form-group">
                        <label for="nama-bank">Nama Bank</label>
                        <InputText id="nama-bank" class="form-control" @bind-Value="@TaskObject.NamaBank" />
                        <ValidationMessage For="@(() => TaskObject.NamaBank)" />
                    </div>
                    <div class="form-group">
                        <label for="norek">No Rekening / No Gopay</label>

                        <InputText id="norek" class="form-control" @bind-Value="@TaskObject.NoRekening" />
                        <ValidationMessage For="@(() => TaskObject.NoRekening)" />
                    </div>
                    <div class="form-group">
                        <label for="nama-pemilik">Nama Pemilik Rekening</label>

                        <InputText id="nama-pemilik" class="form-control" @bind-Value="@TaskObject.NamaRekening" />
                        <ValidationMessage For="@(() => TaskObject.NamaRekening)" />
                    </div>
                    <div class="form-group">
                        <label for="no-hp">Nomor HP</label>

                        <InputText id="no-hp" class="form-control" @bind-Value="@TaskObject.NomorHp" />
                        <ValidationMessage For="@(() => TaskObject.NomorHp)" />
                    </div>
                    <div class="form-group">
                        <label for="jumlah">Jumlah Transfer</label>

                        <InputNumber id="jumlah" class="form-control" @bind-Value="@TaskObject.Jumlah" />
                        <ValidationMessage For="@(() => TaskObject.Jumlah)" />
                    </div>
                    <div class="form-group">
                        <label for="keterangan">Keterangan</label>

                        <InputTextArea id="keterangan" class="form-control" @bind-Value="@TaskObject.Keterangan" />
                        <ValidationMessage For="@(() => TaskObject.Keterangan)" />
                    </div>


                    <div class="form-group">
                        <label for="nim">Upload Bukti Transfer</label>
                        @if (!string.IsNullOrEmpty(FileUrl))
                        {
                            <div class="alert alert-info"> Gambar Bukti sudah di upload.</div>
                        }
                        else
                        {
                            <div class="alert alert-warning"> pilih bukti transfer lalu tunggu sampai gambar selesai di upload.</div>
                        }
                        <BlazorInputFile.InputFile OnChange="HandleFileSelected" />

                    </div>


                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </EditForm>

            </div>
        </div>
    </div>
</div>

@code {

    public string FileUrl { get; set; }
    [Parameter]
    public RenderFragment CustomHeader { get; set; }
    [Parameter]
    public BuktiTransfer TaskObject { get; set; }
    [Parameter]
    public Action DataChanged { get; set; }
    MoslemToolkit.Data.BuktiTransferService service;
    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new BuktiTransferService();
        FileUrl = TaskObject.LampiranUrl;
    }
    private async void HandleValidSubmit()
    {

        if (!string.IsNullOrEmpty(FileUrl))
            TaskObject.LampiranUrl = FileUrl;
        else
        {
            toastService.ShowError("Silakan pilih Bukti Transfer terlebih dahulu");
            return;
        }
        if (TaskObject.Id == 0)
        {

            service.InsertData(TaskObject);

        }
        else
        {
            service.UpdateData(TaskObject);
        }

        await CloseTaskModal();
        DataChanged?.Invoke();
    }

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            // Just load into .NET memory to show it can be done
            // Alternatively it could be saved to disk, or parsed in memory, or similar

            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            //var bytes = ImageHelper.FixedSize(ms, 300, 300, false);
            string newName = $"BuktiTransfer_{DateTime.Now.ToString("dd_MM_yyyy")}_{Path.GetFileNameWithoutExtension(file.Name)}{Path.GetExtension(file.Name)}";
            var bytes = ms.ToArray();
            ms.Dispose();
            await blob.UploadFile(newName, bytes);
            FileUrl = $"{AppConstants.UploadUrlPrefix}/{newName}";
        }
    }

    private async Task CloseTaskModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "taskModal");
    }


}