@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject IJSRuntime jsRuntime
@*@namespace MoslemToolkit.Pages.Master*@
@using System.IO
@inject IToastService toastService

<div class="modal" tabindex="-1" role="dialog" id="taskModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CustomHeader</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label for="kegiatan">Kegiatan</label>
                        <input type="hidden" @bind-value="@TaskObject.Id" />
                        <InputText id="kegiatan" class="form-control" @bind-Value="@TaskObject.Kegiatan" />
                        <ValidationMessage For="@(() => TaskObject.Kegiatan)" />
                    </div>

                      <div class="form-group">
                        <label for="tglmulai">Tanggal Mulai</label>
                        <InputDate id="tglmulai" class="form-control" @bind-Value="@TaskObject.TanggalMulai" />
                        <ValidationMessage For="@(() => TaskObject.TanggalMulai)" />
                    </div>
                    
                    <div class="form-group">
                        <label for="tglselesai">Tanggal Selesai</label>
                        <InputDate id="tglselesai" class="form-control" @bind-Value="@TaskObject.TanggalSelesai" />
                        <ValidationMessage For="@(() => TaskObject.TanggalSelesai)" />
                    </div>

                    <div class="form-group">
                        <label for="Keterangan">Keterangan</label>
                        <InputTextArea id="Keterangan" class="form-control" @bind-Value="@TaskObject.Keterangan" />
                        <ValidationMessage For="@(() => TaskObject.Keterangan)" />
                    </div>




                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </EditForm>

            </div>
        </div>
    </div>
</div>

@code {

    public string FileUrl { get; set; }
    [Parameter]
    public RenderFragment CustomHeader { get; set; }
    [Parameter]
    public KalenderKelompok TaskObject { get; set; }
    [Parameter]
    public Action DataChanged { get; set; }
    MoslemToolkit.Data.KalenderKelompokService service;
    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new KalenderKelompokService();

    }
    private async void HandleValidSubmit()
    {


        if (TaskObject.Id == 0)
        {

            service.InsertData(TaskObject);

        }
        else
        {
            service.UpdateData(TaskObject);
        }

        await CloseTaskModal();
        DataChanged?.Invoke();
    }



    private async Task CloseTaskModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "taskModal");
    }


}