@page "/master/ProfilInfaqJamaah"
@layout MainLayoutKU
@inject IJSRuntime jsRuntime
@using MoslemToolkit.Models
@using MoslemToolkit.Data
@inject NavigationManager NavMgr
@*@namespace MoslemToolkit.Pages.Master*@
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.IO
<h1>Daftar Profil Infaq Jamaah</h1>

<p>Gunakan halaman ini untuk menyimpan daftar Profil Infaq Jamaah</p>

@if (DataProfilInfaqJamaah == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <div class="table-responsive">
            <table id="gridData" name="gridData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Pekerjaan</th>
                        <th>Frekuensi Infaq</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in DataProfilInfaqJamaah)
                    {
                    <tr>
                        <td>@item.Jamaah?.Nama</td>
                        <td>@item.Pekerjaan</td>
                        <td>@item.Frekuensi.ToString()</td>
                        <td>
                                @if (HasLogin)
                                {
                                    <input type="button" class="btn btn-primary btn-sm mt-1" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                                    <input type="button" class="btn btn-danger btn-sm mt-1" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />
                                }
                                else
                                {
                                    <p>-</p>
                                }

                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}
@if (HasLogin)
{
    <div>
        <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Tambah Akun Tabungan Jamaah" @onclick="(() => InitializeitemObject())" />
    </div>
}
<ConfirmDialog OnClick="@Delete" />
<ProfilInfaqJamaahDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</ProfilInfaqJamaahDetail>

@code {
    bool HasLogin;
    ProfilInfaqJamaahDetail detail;
    MoslemToolkit.Data.ProfilInfaqJamaahService service;
    string customHeader = string.Empty;
    List<ProfilInfaqJamaah> DataProfilInfaqJamaah;
    ProfilInfaqJamaah itemObject = new ProfilInfaqJamaah();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;


    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new ProfilInfaqJamaahService();

        DataProfilInfaqJamaah = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DataProfilInfaqJamaah != null && DataProfilInfaqJamaah.Count > 0)
        {

            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
        if (firstRender)
        {
            if (string.IsNullOrEmpty(UserName))
            {
                try
                {
                    UserName = await localStorage.GetItemAsync<string>(AppConstants.NameKey);

                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex);
                }
                if (string.IsNullOrEmpty(UserName))
                {
                    NavMgr.NavigateTo($"/login");
                }
                else
                {

                }
            }
            if (!string.IsNullOrEmpty(UserName) && UserName == AppConstants.USER_KU)
            {
                HasLogin = true;
                StateHasChanged();
            }
        }
    }

    private void InitializeitemObject()
    {

        itemObject = new ProfilInfaqJamaah();
        itemObject.Frekuensi = FrequensiInfaq.Rutin;
        //itemObject.Id = -1;

        customHeader = "Tambah Profil Infaq Jamaah";
    }
    private async void DataChanged()
    {
        DataProfilInfaqJamaah = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(ProfilInfaqJamaah item)
    {
        customHeader = "Ubah Profil Infaq Jamaah";
        itemObject = item;

    }
    private void PrepareForDelete(ProfilInfaqJamaah item)
    {
        itemObject = item;
    }
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataProfilInfaqJamaah = service.GetAllData();
        itemObject = new ProfilInfaqJamaah() { Id = -1 };
    }

    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }

}
